<%= turbo_frame_tag item do %>
<div class="item">
  <div class="item_container">
    <div class="item_name">
    <h4>Name</h4>
    <%= link_to item.name, item_path(item), data: { turbo_frame: "_top" } %>
    </div>
    <div>
    <h4>Price</h4>
    <%= number_to_currency(item.price, unit: '£')%>
    </div>
    <div>
    <h4>Frequency</h4>
    <span><%= item.frequency %> a month</span>
    </div>
    <div>
    <h4>Total per Month</h4>
    <%= number_to_currency(item.price * item.frequency, unit: '£') %>
    </div>
  </div>
  <div class="item__actions">
    <%= button_to "Delete",
                  item_path(item),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_item_path(item),
                class: "btn btn--light" %>
  </div>
</div>
<% end %>

